<main class="main">
  <div class="search-bar">
    <h1 class="header-text">Movie Explorer</h1>
    <input
      type="text"
      class="search-text"
      placeholder="Search movie titles..."
      #searchText
      (keydown.enter)="searchMovies(searchText.value)"
    />
    <button class="search-button" (click)="searchMovies(searchText.value)">
      Search
    </button>
  </div>
  <!-- TODO: Add pagination -->
  <div *ngIf="movies$ | async as movies; else loading">
    <div class="movie-list" *ngIf="movies.length > 0; else noResults">
      <mat-card
        *ngFor="let movie of movies"
        class="movie-card"
        appearance="raised"
      >
        <div class="poster-wrapper">
          <img mat-card-image [src]="movie.poster" [alt]="movie.title" />
        </div>
        <mat-card-content>
          <h2>{{ movie.title }}</h2>
          <p>{{ movie.year }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</main>

<ng-template #loading>
  <p class="loading-text">Loading&hellip;</p>
</ng-template>

<ng-template #noResults>
  <h1>No movie title contains "{{ searchText.value }}"</h1>
</ng-template>
