.search-bar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: white;
}

.header-text {
  color: #3e5879;
  margin-block: 0.5rem;
}

.result-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content vertically within the container */
  flex: 1;
}

.result-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

::placeholder {
  font-style: italic;
  color: rgb(242, 242, 242);
  opacity: 1; /* Ensures full opacity in Firefox */
}

.search-text {
  color: white;
  background-color: #3e587980;
  border-radius: 0.8rem;
  border: 0;
  color: white;
  height: 2rem;
  padding: 5px 6px;
  width: 40%;
  text-align: center;
}

.main {
  background-color: #213555;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.movie-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding-top: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  justify-content: center;
}

.movie-card {
  margin: 8px;
  box-sizing: border-box;
  min-width: 200px;
  max-width: 200px;
  max-height: 300px;
  overflow: hidden;
}

.movie-card.h4 {
  font-family: "Gurmuki MN", sans-serif;
}

.poster-wrapper {
  width: 100%; /* Full width of the item */
  height: 200px; /* Fixed height for uniformity */
  overflow: hidden; /* Hide overflow for cropping */
  min-height: 210px;
  max-height: 210px;
}

.poster-wrapper img {
  border-radius: 0.5rem;
  width: 100%; /* Make the image fill the width of its container */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Resize image to cover the container */
  object-position: center; /* Center the image within the container */
}

.movie-info {
  display: flex;
  flex-direction: row;
  align-items: last baseline;
  justify-content: space-between;
  padding: 0.5rem;
}

@media (width < 800px) {
  .main,
  .movie-list {
    flex-direction: column;
  }

  .search-bar {
    flex-direction: column;
    gap: 0;
  }

  .search-text {
    width: 80%;
  }
}

small {
  color: #3e5879;
  font-weight: 700;
}

input:focus {
  outline: none;
}
