<main class="main">
  <div class="search-bar">
    <h1 class="header-text">Movie Explorer</h1>
    <input
      type="text"
      class="search-text"
      placeholder="Search movie titles / release year..."
      #searchText
      (keydown.enter)="searchMovies(searchText.value)"
    />
  </div>
  <!-- TODO: Add pagination / infinite scroll -->
  <div class="search-result" *ngIf="movies$ | async as movies; else loading">
    <div class="movie-list" *ngIf="movies.length > 0; else noResults">
      <mat-card
        *ngFor="let movie of movies"
        class="movie-card"
        appearance="raised"
      >
        <div class="poster-wrapper">
          <img mat-card-image [src]="movie.poster" [alt]="movie.title" />
        </div>
        <div class="movie-info">
          <h4>{{ movie.title }}</h4>
          <small>{{ movie.year }}</small>
        </div>
      </mat-card>
    </div>
  </div>
</main>

<ng-template #loading>
  <p class="loading-text">Loading&hellip;</p>
</ng-template>

<ng-template #noResults>
  <h1 class="loading-text">No movie title contains "{{ searchText.value }}"</h1>
</ng-template>
